<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <title>Cadastro de cachorro para adoção</title>
</head>
<body>
    <div class="container">
    <h3>Cadastre seu cachorro para ser adotado</h3>
    </div>

    <div class="container">
        <form action="/save" method="POST">
            <img src="https://user-images.githubusercontent.com/106403108/172729332-44d61529-b7f4-4eb3-9805-d6512759fe06.gif" width="150px" align="right">
            <div class="form-group">
                <label>Nome</label>
                <br>
                <input type="text" name="nome" class="form-group"/>
                <br>
            </div>
            <div class="form-group">   
                <label>Raça</label>
                <br>
                <input type="text" name="raça" class="form-group"/>
                <br>
            </div>
            <div class="form-group">
                <label>Cor</label>
                <br>
                <input type="text" name="nome" class="form-group"/>
                <br>
            </div>
            <div class="form-group">
                <label>Idade</label>
                <br>
                <input type="text" name="nome" class="form-group"/>
                <br>
            </div>
            <div class="form-group">
                <label>Status do cão (se precisa de vacinação, cuidados especiais, pronto para ser adotado, etc.)</label>
                <br>
                <input type="text" name="nome" class="form-group"/>
                <br>
            </div>
            <button class="btn btn-primary" style="margin-top: 20px">Salvar</button>
        </form>
    </div>
    
</body>
</html>