<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <title>Formulário adoção de cachorros</title>
</head>
<body>

    <div class="container"> 
        <table class="table table-hover">
            <thead>
                <tr class="table table-dark">
                    <th>Nome</th>
                    <th>Raça</th>
                    <th>Cor</th>
                    <th>Idade</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody> 
                {% for dog in dogs %}
                <tr>
                    <td>{{dog['Nome']}}</td>
                    <td>{{dog['Raça']}}</td>
                    <td>{{dog['Cor']}}</td>
                    <td>{{dog['Idade']}}</td>
                    <td>{{dog['Status']}}</td>
                    <td><a href="/edit" class="btn btn-warning">Editar</a></td>
                    <td><a href="/adoption" class="btn btn-success">Adotar</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="container">
        <a href="/add" class="btn btn-primary">Adicionar</a>
    </div>

    <div class="container">
    <br>
    <br>
    <img src="https://user-images.githubusercontent.com/106403108/172497692-467fa8d9-fcdd-4689-9761-14fe905dce38.png" width="150px">
    </div>

</body>
</html>